@import './../../Common.scss';

.info {
    width: 604px;
    height: 663px;
    margin-left: 10px;
    border: 2px solid $border-color;
    padding-left: 10px;
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    background-color: $back-color;
    border-radius: $border-radius;
    overflow: hidden;
    color: $green-color;
    .cols {
        display: flex;
        justify-content: space-between;
    }
    .code, .probs, .mut, .org {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        width: 110px;
        .marked {
            font-weight: 600;
        }
    }
    .org {
        width: 130px;
    }
    .header {
        font-size: 10px;
        background-color: #282828;
        padding-left: 3px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: $orange-color;
    }
    .mut {
        width: 140px;
    }
    .code {
        width: 90px;
        background-color: $back-color;
        .loop {
            font-weight: 600;
        }
    }
    .probs {
        width: 90px;
    }
    .mem {
        overflow-wrap: break-word;
        display: flex;
        flex-wrap: wrap;
        .cell {
            .header {
                font-size: 9px;
                background-color: $back-color;
                padding-left: 0;
                color: rgba(155, 185, 85, 0.2);
            }
            .val {
            }
        }
        .active {
            background-color: $active;
            border-radius: 5px;
        }
    }
}