.config {
    height: 200px;
    display: flex;
    margin-bottom: 13px;
    textarea {
        height: 196px;
        width: 400px;
        &.error {
            border: 1px dashed red;
            outline: none;
        }
    }
}