@import './../../Common.scss';

.config {
    height: 200px;
    display: flex;
    margin-bottom: 13px;
    textarea {
        height: 196px;
        width: 780px;
        border: 2px solid $border-color;
        border-radius: 4px;
        &.error {
            border: 2px dashed red;
            outline: none;
        }
    }
}