@import './../../Common.scss';

.buttons {
    button {
        margin-right: 10px;
        border-radius: $border-radius;
        border-color: $border-color;
    }
    button[disabled] {
        background-color: $disabled-color;
    }
}