.code {
    height: 300px;
    display: flex;
    .rows {
        width: 60px;
        height: 500px;
        border: 2px solid #ccc;
        border-right: none;
        font-family: monospace;
        font-size: 14px;
        padding-top: 2px;
    }
    textarea {
        height: 496px;
        width: 338px;
        border: 2px solid #ccc;
        font-family: monospace;
        font-size: 14px;
        &.error {
            border: 2px dashed red;
            outline: none;
        }
    }
}