.app {
    text-align: center;
    display: flex;
    justify-content: center;
    .body {
      margin-top: 20px;
      width: 1200px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      .row0, .row1, .row2 {
        display: flex;
      }
      .ver {
        margin-left: 20px;
        font-weight: 600;
      }
      .row2 {
        margin-top: 10px;
        justify-content: left;
      }
    }
}